* {
  margin: 0;
  padding: 0; }

html body {
  font-family: "Questrial", sans-serif;
  color: #ffff; }

.row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center; }

.row::after {
  display: table;
  clear: both; }

.col-1 {
  width: 8.33%; }

.col-2 {
  width: 16.66%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33%; }

.col-5 {
  width: 41.66%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33%; }

.col-8 {
  width: 66.66%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33%; }

.col-11 {
  width: 91.66%; }

.col-12 {
  width: 100%; }

.big-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(rest.jpg); }

h1.icon-header {
  font-family: "Pacifico", cursive;
  padding-left: 40px; }
  h1.icon-header span.food {
    color: #1F2B3B; }

.header {
  display: flex;
  justify-content: space-between; }

.nav-menu {
  float: right;
  margin: 5px 300px 0; }
  .nav-menu .nav-menu-list {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 12px; }
    .nav-menu .nav-menu-list .nav-item {
      display: inline-block; }
      .nav-menu .nav-menu-list .nav-item a {
        display: block;
        padding: 30px 30px;
        padding-left: 0;
        text-decoration: none;
        color: white;
        font-weight: 700; }
        .nav-menu .nav-menu-list .nav-item a:hover {
          color: #555146; }
      .nav-menu .nav-menu-list .nav-item i {
        color: #fff;
        padding: 30px 10px; }

.section-text {
  text-align: center;
  margin: 100px 0 0; }

h1.premium {
  font-family: "Sacramento", cursive;
  font-size: 4rem;
  font-weight: lighter;
  margin: 0;
  line-height: 1;
  color: #C49F3D; }

p.quality {
  font-size: 8px;
  margin: 0;
  letter-spacing: 10px; }

h1.restaurant-text {
  font-family: "Cinzel", serif;
  font-size: 5rem;
  margin: 0;
  padding: 0;
  width: 100%; }

button.order-btn {
  font-family: "Questrial", sans-serif;
  background-color: #1F2B3B;
  color: #ffffff;
  border: transparent;
  padding: 20px 30px;
  cursor: pointer;
  border-radius: 20px;
  margin-top: 40px;
  margin-bottom: 50px; }
  button.order-btn:hover {
    transform: scale(1.1);
    transition: 0.2s ease-in-out; }

.about-container {
  background-color: #D7E3E0;
  color: #272423;
  padding: 50px; }

.col-6.about-text {
  text-align: center; }

h1.hybrid-text {
  color: #EA4F30;
  font-family: "Courgette", sans-serif; }

h1.welcome-text {
  font-weight: bolder;
  font-size: 2.5rem;
  margin: 20px 0;
  letter-spacing: 5px; }

p.serve-text {
  line-height: 1.5;
  margin-bottom: 30px; }

a.learn-more {
  text-decoration: none;
  color: #272423;
  padding-top: 30px; }
  a.learn-more:hover {
    color: #EA4F30; }
  a.learn-more i {
    padding-left: 10px; }

.img-container {
  text-align: center; }

.cup-img {
  border-radius: 10px; }

.discover-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(coffee.jpg);
  position: relative;
  text-align: center;
  height: 300px;
  padding-top: 50px; }

.foodie-text {
  letter-spacing: 15px;
  font-size: 2.5rem;
  margin-top: 20px; }

.explain-container {
  width: 100%;
  color: #100E0E;
  display: flex;
  justify-content: space-around;
  padding: 100px 0; }

.img-text-container {
  width: 32%; }

.explain-img {
  border-radius: 10px;
  align-items: center;
  text-align: center;
  margin-bottom: 40px; }

.img-explain {
  letter-spacing: 5px; }

p.explain {
  letter-spacing: 1px;
  line-height: 1.5;
  margin: 10px 0 30px;
  color: #8E8686; }

.price-container {
  background-color: #D7E3E0;
  padding: 50px 0; }

.our-price {
  color: #EA4F30;
  font-family: "Courgette", sans-serif;
  margin-bottom: 30px;
  text-align: center; }

.prices {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  font-family: "Sen", sans-serif; }

.regular {
  background: url(table.jpg);
  border-radius: 20px;
  -webkit-box-shadow: 10px 10px 12px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 12px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 12px 0px rgba(0, 0, 0, 0.75);
  width: 20%;
  height: 300px;
  padding: 10px; }

.price-header {
  text-align: center;
  letter-spacing: 10px; }

.price-list {
  display: flex;
  justify-content: space-between; }

.price-list-item {
  margin: 20px 0;
  font-weight: bolder;
  letter-spacing: 1px;
  color: #865B26; }

.learn-more.more-price {
  color: #fff; }

footer {
  background-color: #0C171A;
  padding: 20px;
  font-family: "Quicksand", sans-serif;
  letter-spacing: 1px; }

.footer-container {
  display: flex;
  justify-content: space-between; }

h3.footer-header {
  margin-bottom: 30px;
  letter-spacing: 5px; }

.address {
  width: 30%; }

.address-text {
  margin-bottom: 80px; }

p.address-words {
  letter-spacing: 1px;
  line-height: 3;
  font-size: 12px; }
  p.address-words i {
    padding-right: 10px; }

p.time {
  letter-spacing: 1px;
  line-height: 1.5;
  font-size: 12px; }

a.twitter-link {
  text-decoration: none;
  color: #CB2118; }

.oro {
  font-size: 12px;
  line-height: 1.5; }

.lone-date {
  margin: 30px 0;
  color: #797171; }

.gallery-img-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

p.footer-text {
  font-size: 10px;
  text-align: center; }

@media (max-width: 768px) {
  .big-container {
    padding-bottom: 100px; }

  h1.restaurant-text {
    font-size: 2rem
  }

  .col-6.about-text {
    margin: auto; }

  .col-6.img-container {
    display: none !important; }

  .explain-container,
  .prices,
  .footer-container {
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center; }

  .img-text-container,
  .regular,
  .address {
    width: 100%;
    margin-bottom: 30px; }

  .nav-menu {
    display: none !important; } }

/*# sourceMappingURL=app.css.map */
